<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1016227699222-tjtesvom2mv5vtsc5mi8f39o59b0k68g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016227699222-tjtesvom2mv5vtsc5mi8f39o59b0k68g</string>
	<key>API_KEY</key>
	<string>AIzaSyAfHH9FgwA-2mv_JM_C1MRrbYhVYTJ8Fgg</string>
	<key>GCM_SENDER_ID</key>
	<string>1016227699222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandiaa.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-a01b0</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-a01b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016227699222:ios:3f625cc712a96f65</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-a01b0.firebaseio.com</string>
</dict>
</plist>